numpy
joblib
matplotlib
pandas
seaborn
tokenizers == 0.6.0
transformers == 2.3.0
sacrebleu == 1.4.13
bert_score == 0.3.4
nlg-eval @ git+https://github.com/Maluuba/nlg-eval.git@master
vizseq
tensorflow
moverscore
pyemd
